* {
    margin: 0;
    border:0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a {
    text-decoration: none;
    color: aliceblue;
}
body{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(/img/fondo.jpg);
    background-size:cover;
    background-position: center center;
}
/* RESETEO CSS */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px;
    margin: 7px;
    background: #11124be4;
    border: 1px solid rgb(32, 165, 180);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.portada{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 70%;

    font-size: 1rem;
    margin: 10px;
    gap: 10px;
    padding: 2px;
}
.portada i{
    font-size: 1.8rem;
}
.logo{
    height: 35px;
    justify-content: center;
    align-items: center;
}
.checkbtn{
    display: block;
    cursor: pointer;
}
header ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #11124be4;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    line-height: 100px;
    font-size: 2rem;
}
header nav ul li{
    display: block;
    margin: 50px 0;
}
header nav ul li a{
    font-size: 20px;
}
li a:hover, li a.active{
    background: none;
    color: rgb(255, 0, 183);
    margin: 20px;
}
#check:checked ~ ul{
    left:0;
}
.menu{
    display: none;
}
.lista{
    display: fixed;
    margin-right: 10px;
    border: 1px solid rgb(32, 165, 180);
    border-radius: 20px;
    height: 100%;
    width: 95%;
    margin-left: 2.5%;
}
/* CABECERA DE LA PAGINA */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    margin: 5px;
    background-color: #11124be4;
    border: 1px solid rgb(32, 165, 180);
    border-radius: 10px;
}
.nav ul li{
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    padding: 5px;
    font-size: 0.5rem;
    text-transform: uppercase;
}
nav li a:hover, li a.active2{
    background: none;
    color: rgb(37, 162, 190);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: cene;
    width: 50px;
    padding: 15px;
}
.login-inicio{
    display: none;
}

/* BARRAS NAVEGABLES */

.noticias {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 15px;
    margin: 10px;
    background: #120e2ee4;
    border: 2px solid rgb(32, 165, 180);
    border-radius: 10px;
}
.noticias-titulo{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30px 30px;
    height: 35px;
}
.noticias-titulo h2 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11124be4;
    padding: 5px;
    border: 1px solid rgb(32, 165, 180);
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;

}
.buscar{
    height: 80%;
    width: 80%;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 0.6rem;
    transition: all 0.7s ease;
    cursor: pointer;
}
.titulo-terciario{
    padding: 7px;
    font-size: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.noticias-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.noticia1{
    display: flex;
    justify-content: end;
    align-items: end;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5),
    rgb(0 0 0 / .5)), url(../img/re4.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;

    padding: 10px;
    border: 2px;
    border-radius: 20px;
}
.noticia1:hover{
    transform: scale(1.1);
    width: 85%;
}
.noticia1-texto{
    display: flex;
    padding: 10px;
    border-radius: 15px;
}
.noticia1-texto a{
    font-size: 1.3rem;
}
.noticia1-texto p{
    font-size: 0.7rem;
}
.noticia2{
    display: flex;
    justify-content: end;
    align-items: end;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5),
    rgb(0 0 0 / .5)), url(../img/redfall.png);
    background-size: cover;
    background-position: center;
    height: 40vh;

    padding: 10px;
    border: 2px;
    border-radius: 20px;
}
.noticia2:hover{
    transform: scale(1.1);
    width: 85%;
}
.noticia2-texto{
    display: flex;
    padding: 10px;
    border-radius: 15px;
}
.noticia2-texto a{
    font-size: 1.3rem;
}
.noticia2-texto p{
    font-size: 0.7rem;
}
.noticia-avanzar{
    display: flex;
    justify-content: center;
    width: 40px;
    padding: 5px;
    background-color: rgb(75, 155, 179);
    border: 1px solid white;
    border-radius: 10px;
}
.noticia-avanzar:hover{
    background-color: transparent;
    border: 1px solid white;
    color: #120e2ee4;
}
.avanzar-pag{
    display: none;
}
/* SECCION NOTICIAS */
.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    color: rgb(32, 165, 180);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    margin: 10px;
    border: 1px solid rgb(32, 165, 180);
    border-radius: 20px 50px;
    background-color: #11124be4;
}
.discord{
    display: grid;
    grid-template-columns: 2fr 1fr1 fr;
    grid-template-rows: 30% 30% 30%;
    gap: 6px;

}
.discord h3{
    font-size: 1.5rem;
}
.discord i{
    font-size: 2.0rem;
    background-color:rgb(32, 165, 180);
    padding: 7px;
    border: 1px solid aliceblue;
    border-radius: 30px;
    box-shadow: 1px 1px 1px rgba(240, 248, 255, 0.545);
    transition: all 0.5s ease-in-out;
}
.discord i:hover{
    transform: scale(1.0);
    width: 70px;
    height: 50px;
    background-color: #11124be4;
    border: 2px solid rgb(255, 0, 183);
    box-shadow: 2px 2px 2px rgb(255, 0, 183);
}
.discord p{
    padding: 10px;
}
.social{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 20px;

}
.social-lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
}
.social-element{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    background-color: rgb(32, 165, 180);
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 40%;
    box-shadow: 1px 1px 1px rgba(240, 248, 255, 0.545);
    transition: all 0.5s ease-in-out;

}
.social-element:hover{
    transform: scale(1.0);
    width: 50px;
    height: 50px;
    background-color: #11124be4;
    border: 2px solid rgb(255, 0, 183);
    box-shadow: 2px 2px 2px rgb(255, 0, 183);
}
/* FOOTER, SECCION DE REDES */

@media(min-width:480px) {
    .portada{
        font-size: 1.5rem;
    }
    .checkbtn i{
        font-size: 1.5rem;
    }
    /* CABECERA */

    .nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 10px;
    }
    .nav ul li{
        font-size: 0.8rem;
    }
    /* BARRAS NAVEGABLES, PLATAFORMAS Y LOGIN */

    .noticias-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .buscador{
        font-size: 1.5rem;
    }
    .titulo-terciario{
        font-size: 1.3rem;
    }
    /* SECCION NOTICIAS */
    .discord{
        font-size: 1.2rem;
    }
    .discord i{
        font-size: 2.5rem;
    }
    .social-element{
        font-size: 1.7rem;
    }
    /* FOOTER, REDES SOCIALES */
}
/* VERSION DE MOVIL HORIZONTAL */

@media(min-width:768px) {
    .portada{
        display: flex;
        justify-content: start;
        align-items: start;
    }
    .lista{
        display: flex;
        justify-content: end;
        align-items: center;
        height: 10%;
        width: 60%;
        top: 20px;
        left: 35%;
        background:none;
        gap: 5px;
        border: none;
        position: absolute;
        transition: none;
    }
    .lista li{
        font-size: 1.4rem;
        display: inline-block;
        line-height: 30px;
        gap: 30px;
        background-color: none;
        font-size: 1.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: none;
    }
    .menu{
        display: none;
    }
    .check{
        display: none;
    }
    .checkbtn{
        display: none;
    }
    li a.active, li a:hover{
        color: rgb(183, 14, 135);
        padding: 5px;
        border: 1px solid rgb(183, 14, 135);
        border-radius: 10%;
        transition: .5s;
    }
    /* CABECERA */

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .login{
        gap: 15px;
    }
    .login i{
        font-size: 1.5rem;
    }
    .login-inicio{
        display: flex;
        font-size: 1.0rem;
        display: inline-block;
        white-space: nowrap;
    }
    .login-inicio:hover{
        transition: 0.5s;
        color: #120e2ee4;
        background:rgb(183, 14, 135);
        padding: 5px;
        border-radius: 25px;
    }
    /* BARRAS NAVEGABLES */

    .noticias-titulo{
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
    }
    .noticias-titulo h2{
        font-size: 2.0rem;
        width: 60%;
    }
    .buscador{
        font-size: 2.0rem;
        width: 30%;
    }
    .buscar{
        font-size: 50%;
    }
    .titulo-terciario{
        font-size: 1.7rem;
    }
    .noticia1{
        width: 90%;
    }
    .noticia1-texto a{
        font-size: 2.3rem;
    }
    .noticia1-texto p{
        font-size: 1.0rem;
    }
    .noticia2{
        width: 90%;
    }
    .noticia2-texto a{
        font-size: 2.3rem;
    }
    .noticia2-texto p{
        font-size: 1.0rem;
    }
    .noticia-avanzar{
        font-size: 1.5rem;
        width: 100px;
    }
    .noticias-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    /* SECCION NOTICIAS */

    .discord h3{
        font-size: 2.0rem;
    }
    .discord i{
        font-size: 3.0rem;
        width: 20%;
    }
    .discord i:hover{
        transform: scale(1.0);
        width: 25%;
        height: 65px;
        background-color: #11124be4;
        border: 2px solid rgb(255, 0, 183);
        box-shadow: 2px 2px 2px rgb(255, 0, 183);
    }
    .discord p{
        font-size: 1.5rem;
    }
    .social-lista{
        gap: 50px;
    }
    .social-element{
        font-size: 2.2rem;
        transition: ease-in-out;
    }
    .social-element i:hover{
        color: rgb(255, 0, 183);
    }
    .social-element:hover{
        transform: scale(1.0);
        width: 15%;
        height: 70px;
        border: 2px solid rgb(255, 0, 183);
        box-shadow: 2px 2px 2px rgb(255, 0, 183);
        padding: 20px;
        background-color:rgb(32, 165, 180);
    }
    /* FOOTER, REDES SOCIALES */
    /* Version para tablets */

    @media(min-width: 1024px){
        .portada h1 {
            font-size: 3.0rem;
        }
        .portada i{
            font-size: 3.0rem;
        }
        /* CABECERA */
        .lista{
            display: flex;
            justify-content: center;
            top: 25px;
            gap: 10px;
        }
        .lista a{
            font-size: 1.5rem;
        }
        .plataformas li a{
            font-size: 1.5rem;
            width: 60%;
        }
        .login-inicio{
            font-size: 1.7rem;
        }
        /* BARRAS DE NAVEGACION */
        .noticias-principal{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 20px;
            padding: 10px;
            border: 2px solid white;
            border-radius: 20px;
        }
        .noticia1{
            justify-self: start;
            height: 80vh;
            width: 40vw;
        }
        .noticia2{
            justify-self: end;
            height: 80vh;
            width: 40vw;
        }
        /* MAIN, SECCION */
        .redes{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .discord{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .discord i{
            display: flex;
            width: 100%;
        }
        .discord i:hover{
            transform: scale(1.2);
            width: 100%;
            height: 65px;
            background-color: #11124be4;
            border: 2px solid rgb(255, 0, 183);
            box-shadow: 2px 2px 2px rgb(255, 0, 183);
        }
        /* FOOTER, REDES */
        /* Version Desktop */

        /* DISEÑO RESPONSIVE INDEX */
    }
}
/* PAGINA "VIDEOS" A CONTINUACION */
.portada-videos{
    font-size: 1.8rem;
}
/* CABECERA, HEADER */
.videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family:Arial, Helvetica, sans-serif;

    background-color: #11124be4;
    border: 2px solid rgba(240, 248, 255, 0.545);
    border-radius: 10px;
    margin: 10px;
}
.videos-titulo{
    padding: 10px;
    font-size: 1.1rem;
}
.videos-lista{
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: start;

    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(240, 248, 255, 0.545);
    border-radius: 20px;
}
.videos-lista a:hover{
    margin: 0px;
    padding: 0px;
}
.videos-elemento{
    margin: 5px;
}
.videos-elemento img{
    width: 90%;
    height: 70%;
    filter: brightness(0.5);
    border-radius: 20px;
}
.videos-elemento i{
    position: relative;
    top:-8px;
    right: 30px;
    font-size: 1.3rem;
}
.videos-elemento span{
    display: flex;
    font-size: 1.0rem;
}
.videos-elemento button{
    padding: 4px;
    margin: 2px;
    border-radius: 10px 10px 10px 10px;
    color: #11124be4;
    background-color: rgba(240, 248, 255);
    transition: all 0.5s;
}
.videos-elemento button:hover{
    color: aliceblue;
    background-color: rgb(183, 14, 135);
}
.videos-elemento p{
    font-size: 0.8rem;
}
.ranking-titulo{
    display: none;
}
.videos-ranking{
    display: none;
}
/* MAIN, CONTENIDO PRINCIPAL */
@media(min-width :480px){
    .portada-videos{
        font-size: 2.2rem;
    }
    .videos-titulo{
        font-size: 1.5rem;
    }
    .videos-elemento img{
        width: 90%;
    }
    .videos-elemento span{
        font-size: 1.3rem;
    }
}
@media(min-width:768px){
    .videos-titulo{
        font-size: 2.1rem;
    }
    .videos-elemento i{
        position: relative;
        top: -40px;
        right: -2px;
        font-size: 1.8rem;
        color: rgb(255, 0, 183);
    }
    .videos-elemento img{
        width: 100%;
    }
    .videos-lista a:hover, i:hover{
        color: rgba(240, 248, 255);
        border: none;
    }
    .videos-elemento span{
        font-size: 1.8rem;
        position: relative;
        top: -15px;
    }
    .videos-elemento button{
        font-size: 1.2rem;
        position: relative;
        top: -15px;
    }
    .videos-elemento p{
        font-size: 1.2rem;
        position: relative;
        top: -15px;
    }
}
@media(min-width:1024px){
    .videos{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 10vh 1fr;

        height: 70%;
    }
    .videos-titulo{
        display: gird;
        grid-column: 1/2;
        grid-row: 1/2;

        position: relative;
        justify-content: center;
        text-align: center;
    }
    .videos-lista{
        display: grid;
        grid-column: 1/2;
        grid-row: 2/2;
    }
    .ranking-titulo{
        display: block;
        justify-self: center;
        text-align: center;
        position: relative;
        top: 20px;
    }
    .ranking-titulo:hover{
        color: rgb(255, 0, 183);
        border: 1px solid rgba(240, 248, 255, 0.545);
        border-radius: 20px;
        transition: 0.5s;
        
        padding: 10px;
    }
    .videos-ranking{
        display: block;
        display: grid;
        grid-column: 2/2;
        grid-row: 2/2;

        justify-content: center;
        align-self: start;
        border: 1px solid rgba(240, 248, 255, 0.545);
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
    }
    .ranking-elemento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        border: 1px 1px 1px 1px solid rgb(255, 0, 183);
        box-shadow: 0px 1px 0px 0px rgb(183, 14, 135);
        padding: 5px;
    }
    .ranking-elemento img{
        width: 100%;
        filter: brightness(0.5);
    }
    .ranking-elemento button{
        padding: 4px;
        margin: 2px;
        border-radius: 10px 10px 10px 10px;
        color: #11124be4;
        background-color: rgba(240, 248, 255);
        transition: all 0.5s;
    }
    .ranking-elemento button:hover{
        color: aliceblue;
        background-color: rgb(183, 14, 135);
    }
    .ranking-elemento a{
        position: relative;
        top: 15px;
    }
    .ranking-elemento i{
        position: relative;
        top: -25px;
        left: 5px;
        font-size: 1.2rem;
    }
    .ranking-elemento a:hover{
        color: rgb(183, 14, 135);
        border:none;
        margin: 0;
        padding: 0;
    }
}
